sudo: required
group: travis_lts

env:
  global:
    TERM=dumb

language: java
jdk:
- openjdk8
- oraclejdk8

install: true
before_install:
- sudo apt update -y || true
- sudo apt install -y python-pip
- sudo pip install httpie
- source <(curl -s https://raw.githubusercontent.com/daggerok/bash-functions/master/main.bash)
- stop_any 5432 5672 27017 8080

script:
# gradle
- bash gradlew build
- java -jar gateway/build/libs/*.jar &
- wait_for 8080
- http :8080/get
- http :8080
- http :8080/headers
- http :8080/headers Host:my.magic-fake.host
- stop_any 8080
# maven
- bash mvnw package
- java -jar gateway/target/*.jar &
- wait_for 8080
- http :8080
- http :8080/get
- http :8080/headers
- http :8080/headers Host:my.magic.fake.host
- stop_any 8080

cache:
  directories:
  - $HOME/.m2
  - $HOME/.gradle
